.parent{
    display:flex;
    height:450px;
    width:375px;
    background-color:aquamarine;
    justify-content:center;
 
}

.child1{
    border:1px solid black;
    width:175px;
 
}

.child2{
    border:1px solid black;
    width:175px;
    
}