*{
    margin:0;
    padding:0;
}

.navBar{
    height:55px;
    background-color:#54544F;
    list-style-type: none; 
}

.navBarParent{
    display:flex; 
    justify-content:space-between;
    list-style-type: none;
    flex-wrap:wrap;
    
    padding:0 10px;
} 
 
.navBarChild1{
    display:flex;
    justify-content:space-between;
    padding:12px;
}

.navAbout, .navResources, .navHowItWorks{
    padding-right:20px;
}

.navBarChild2{
    display:flex;
    justify-content:space-between;
    padding:12px;
}

.navLogin, .navSignUp{
    padding-left:20px;
}

li{
    font-size:20px; 
    font-family:'' 
}
 

a{
    text-decoration:none;
}

li a:link {
    color:white;
    text-decoration:none;
    
}

li a:visited{
    color:white;
    text-decoration:none;
}

li a:hover{
    color:lightgray;
    text-decoration:none;
}

li a:active{
    color:white;
    text-decoration:none;
}

.homePage{
    background-image:url('/images/homepagepic5-copy.jpeg');
    background-repeat: no-repeat;
    height:93%;
    text-align:center;
}

.frontPageAmbiance{
    font-family:'Imprima';
    font-size:56px;
    padding-top:260px; 
}

.frontPageMiniText{
    font-family:'Imprima';
    font-size:22px;
}

.homePageDivAbout{
    height:500px;
    background-color:#C4D1D0;
    text-align:center;
}

.homePageAboutDivTitle{
    font-size:30px;
    padding-top:20px;

}
.homePageDivResources{
    height:500px;
    background-color:#E5D4C2;
    text-align:center;
}

.homePageResourcesDivTitle{
    font-size:30px;
    padding-top:20px;
}

.homePageDivHowItWorks{
    height:500px;
    background-color:#D9DED4;
    text-align:center;
}

.homePageHowItWorksDivTitle{
    font-size:30px;
    padding-top:20px;
}

.homePageDivExtra{
    height:200px;
    background-color:#636E6E;
    text-align:center;
}

.homePageDivExtraTitle{
    font-size:30px;
    padding-top:20px; 
    
}

.linkButton{
   /* background-color:rgb(101, 111, 111, 0.1); */
    background-color:pink;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  /*
    width:175px;
    height:50px;
    margin:auto;
    margin-top:350px;
    /* border:1px solid black; */



.linkButtonText{
    font-family:'Imprima';
    font-size:20px;
    padding-top:12px;
    
    }


.resourcesBody{
    background-color:white;
}

