*{
    margin:0;
    padding:0;
}

.navBar{
    height:55px;
    background-color:#54544F;
}

.homePage{
    background-image:url('/images/homepagepic5-copy.jpeg');
    background-repeat: no-repeat;
    height:93%;
    text-align:center;

  
}

.frontPageAmbiance{
    font-family:'Imprima';
    font-size:56px;
    padding-top:260px; 
}

.frontPageMiniText{
    font-family:'Imprima';
    font-size:22px;
}
