*{
    margin:0;
    padding:0;
}

.navBarDiv{
    background-color:white;
    height:75px;
    list-style-type: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.mainPagePictureDiv{
    height:754px;
    background-color:lightgrey;
    background-image:url("mainPictureDiv.jpg");
    background-repeat: no-repeat;

}

.navBarParent{
    display:flex; 
    justify-content:space-between;
    list-style-type: none;
    flex-wrap:wrap;
    padding:10px 40px;
   
} 

.navBarChild1{
    display:flex;
    justify-content:space-between;
    padding:12px;
    font-size:20px;
}

.navBarChild2{
    display:flex;
    justify-content:space-between;
    padding:12px;
    font-size:20px;
}

.navExperiences, .navAbout, .navThoughts, .navContact{
    padding-right:20px;
}

a{
    text-decoration:none;
}

.mainNavBarDiv{
    height:75px;
}

.mainPageIntroduction{
    text-align:center;
    font-size:60px;
    font-family:'Saira Condensed';
    padding-top:220px;
    color:black;
}

.mainPageIntroductionSmallText{
    text-align:center;
    font-size:30px;
    color:black;
    padding-top:10px;
}

.getToKnowMeDiv{
    height:550px;
    

}

.educationDiv{
    height:600px;
    background-color:lightgrey;
}

.educationRowWashu{
    display:flex;
}

.educationRowPictureWashu{
    margin-left:200px;
    margin-top:50px;
}

.educationRowWords{
    width:650px;
    margin-left:150px;
    margin-top:75px;
    font-size:16px;
    font-family:arial;
}

.educationRowBradshaw{
    display:flex;
}


/*

.educationDivContainer{
    background-color:lightgrey;
    height:500px;
    display:flex;
    flex-direction:row;
    
}
.washuLogo{
   
    width:400px;
    margin-left:50px;
    padding-top:25px;

}

.educationWords{
    background-color:lightpink;
    width:500px;
    margin-left:200px;
    margin-top:50px;
}

.educationWordTitles{
    font-weight:bold;
}
 */

.divTitles{
    text-align:center;
    padding-top:85px;
    font-size:40px;
    font-family:'arial';
    
    
}



.thingsIveDoneDiv{
   
    background-color:rgba(242, 239, 239, 0.975);
  
  
}

.thingsIveDoneLACRM{
    height:300px;
    display:flex;
    margin-top:50px;
  
}

.thingsIveDoneLACRMPicture{
    margin-left:200px;
    margin-top:50px;
}

.thingsIveDoneLACRMWords{
    margin-left:200px;
    width:650px;
    margin-left:150px;
    margin-top:75px;
    font-size:16px;
    font-family:arial;
}


.thingsIveDoneResearch{
    height:300px;
    display:flex;
    margin-top:50px;
    
}

.thingsIveDoneResearchPicture{
    margin-left:200px;
    margin-top:50px;
}

.thingsIveDoneResearchWords{
    margin-left:200px;
    width:650px;
    margin-left:150px;
    margin-top:75px;
    font-size:16px;
    font-family:arial;
}

.thingsIveDoneKSA{
    height:300px;
    display:flex;
    margin-top:50px;
    
}

.thingsIveDoneKSAPicture{
    margin-left:200px;
}

.thingsIveDoneKSAWords{
    margin-left:200px;
    width:650px;
    margin-left:150px;
    font-size:16px;
    font-family:arial;
}

.myThoughtsDiv{
    height:500px;
    background-color:white;
  
}

.footerContactDiv{
    height:300px;
    background-color:lightblue;
   
}


