*{
    margin:0;
    padding:0;
}

.mainPagePictureDiv{
    height:754px;
    background-color:lightgrey;
    background-image:url("mainPictureDiv.jpg");
    background-repeat: no-repeat;

}

.mainNavBarDiv{
    height:75px;
}

.mainPageIntroduction{
    text-align:center;
    font-size:60px;
    font-family:'Saira Condensed';
    padding-top:220px;
    color:black;
}

.mainPageIntroductionSmallText{
    text-align:center;
    font-size:30px;
    color:black;
    padding-top:10px;
}

.getToKnowMeDiv{
    height:550px;
    

}

.educationDiv{
    height:600px;
    background-color:lightgrey;
}

.educationRowWashu{
    display:flex;
}

.educationRowPictureWashu{
    margin-left:150px;
    margin-top:50px;
}

.educationRowWords{
    width:700px;
    margin-left:150px;
    margin-top:75px;
    font-size:16px;
    font-family:arial;
}

.educationRowBradshaw{
    display:flex;
}


/*

.educationDivContainer{
    background-color:lightgrey;
    height:500px;
    display:flex;
    flex-direction:row;
    
}
.washuLogo{
   
    width:400px;
    margin-left:50px;
    padding-top:25px;

}

.educationWords{
    background-color:lightpink;
    width:500px;
    margin-left:200px;
    margin-top:50px;
}

.educationWordTitles{
    font-weight:bold;
}
 */

.divTitles{
    text-align:center;
    padding-top:85px;
    font-size:40px;
    font-family:'arial';
    
    
}



.thingsIveDoneDiv{
    height:400px;
    background-color:lightcyan;
  
}

.myThoughtsDiv{
    height:500px;
    background-color:lightgrey;
  
}

.footerContactDiv{
    height:300px;
    background-color:lightblue;
   
}


