
/* *{
    margin:0;
    padding:0;
} */

body{
    font-family:arial;
    background-color:white;
}

.navbar{
    list-style-type:none;
    overflow:hidden;
    height:15px;
    margin-top:35px;
    margin-right:150px;
    text-align:center;  
        
}

li{
    float:right;
}

li a{
    color:black;
    text-decoration:none;
    padding:10px;
    font-size:14px;
    font-family:'arial';
}

li a:hover{
    color:gray;
}

.homepic{
    position:absolute;
    top:170px;
    margin-left:142px;
    width:680px;
    height:460px;   
}


.mainpage{
    color:black;
    font-size:40px;
    font-family:times;
    position:absolute;
    top:0;
    left:150px;   
}

.notes{
    font-size:14px;
    font-family:'times';
    position:absolute;
    top:54px;
    left:150px;
}

h2{
    font-size:26px;
    font-family:arial;
    position:absolute;
    left:150px;
    margin-top:100px;
}
 

.recentposts{
    font-size:16px;
    position:absolute;
    right:255px;
    top:150px;
}

.kidlinks{
    font-size:20px;
    font-family: 'Raleway';
    padding:20px;
}


a.kidlinks:link, a.kidlinks:visited{
    color:black;
    text-decoration:none;
}

a.kidlinks:hover{
    color:gray;
}

.descr{
    font-size:16px;
    position:absolute;
    left:150px;
    top:200px;
    padding-right:150px;
    font-family:times;
}

/*
.blogpostcontainer{
    background-color:white;
    color:black;
    position:absolute;
    right:0px;
    bottom:167px; 
    padding:20px 0px;
    height:411px;
    width:375px; 
}  */


/*
 h3 a:link{
    color:black;
    text-decoration:none;
   
}

h3 a:hover{
    color:gray;
}  
*/

/*
.heading{
    text-align:left;
    font-size:20px;
    padding-top:30px;  
}

/*
.heading{
    background-color:rgb(230, 230, 230);
    height:420px;
    margin:100px 75px 75px ;
    

}
*/






