
/* *{
    margin:0;
    padding:0;
} */

body{
    font-family:arial;
    background-color:white;
}

.navbar{
    list-style-type:none;
    overflow:hidden;
    height:15px;
    margin-top:35px;
    margin-right:20px;
    text-align:center;  
}

li{
    float:right;
}

li a{
    color:black;
    text-decoration:none;
    padding:10px;
    font-size:14px;
    font-family:'arial';
}

li a:hover{
    color:gray;
}

.homepic{
    position:absolute;
    top:120px;
    margin-left:100px;
    width:900px;
    height:550px;   
}


.mainpage{
    color:black;
    font-size:40px;
    font-family:times;
    position:absolute;
    top:0;
    left:110px;   
}

.notes{
    font-size:14px;
    font-family:'times';
    position:absolute;
    top:54px;
    left:110px;
}

/*
.headerimage{
    background-image:url(/homepagepic.jpg);
    background-repeat:no-repeat;
    height:200px;
    width:800px;
   
} */
/*
.heading{
    text-align:left;
    font-size:20px;
    padding-top:30px;  
}

/*
.heading{
    background-color:rgb(230, 230, 230);
    height:420px;
    margin:100px 75px 75px ;
    

}
*/







