
*{
    margin:0;
    padding:0;
}

body{
    font-family:arial;
    background-color:white;
}

.navbar{
    list-style-type:none;
    overflow:hidden;
    background-color:black;
    height:50px;
   /* box-shadow:20px pink; */
}

li{
    float:right;
}

li a{
    color:white;
    text-decoration:none;
    padding:30px;
    font-size:20px;
    font-family:'arial';
/* padding not working? */
}

li a:hover{
    color:gray;

}

.heading{
    background-color:rgb(230, 230, 230);
    height:420px;
    margin:100px 75px 75px ;
    

}

.mainpage{
    color:black;
    font-size:150px;
    font-family:times;
    position:fixed;
    bottom:100px;
}
/*
.heading{
    text-align:left;
    font-size:20px;
    padding-top:30px;  
}







