* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

  .header{
    background-color:#C6D6D1;
    height:150px;
    padding-bottom:22px;
    padding-top:20px;
    text-align:center;
    

    
    }  


  

  .headerlinks{
    height:50px;
    background-color:#E9D2D1;
  }

 .headerlinks a:link, a:visited{
    float:left;
    width:200px;
    margin:45px;
    margin-top:10px;
    height:30px;
    background-color:#D2B9B4;
    text-align:center;
    padding-top:4px;
    text-decoration:none;
    color:black;
    overflow:hidden;
    position:relative;
    left:130px;
    font-size:10pt;
    
  }

  .headerlinks a:hover, a:active{
    background-color:rgb(223, 197, 192);
  }
    
  
  
  


  h1{
    font-size:40pt;
    font-family:'Encode Sans';
    color:black;
    text-align:center;
    padding:30px;
    

    
  }

  h2{
    color:black;
    font-family:'Encode Sans';

  }
  

  p{
      font-size:12pt;
      color:black;
      text-align:center;
      padding:0;
      position:relative;
      bottom:15px;
  }

 
   
 .column{
     
     width:372;
     
     background-color:#A2CBCC;
     
    
 } 
  
    
 .content{
   
     height:350px;
     background-color:seashell;
     margin-left:350px;
     margin-right:350px;
     margin-bottom:50px;
     margin-top:60px;
     font-size:18pt;
     padding-left:20px;
     padding-top:20px;
    
     

 }
   

  body{
      background-color:#FFFCF7;
    
  }